@import "../../../lib/ybase-0.1.0/less/main.less";

.banner__shop-now {
	margin: unset;
	display: unset;
	background-color: unset;
	border: unset;
	padding: unset;
	font-size: unset;
	font-weight: unset;
	color: unset;
	line-height: unset;
	letter-spacing: unset;
	text-transform: unset;
}
.banner__shop-now:hover {
	background: unset;
	color: unset;
}
.banner__shop-now {
	a{
		.btn_shop-now;
	}
}
.banner__shop-now{
	a:hover {
		background: #fff;
		color: #002F5F;
	}
}
.sub_banner {

	.banner__shop-now {
		a{
			margin-bottom: 0;
		}

	}

}
.video-preview__img {
	>a {
		>img{
			width: 100%;
		}
	}

}

@media (max-width: 768px) {
		.banner__shop-now {
					a{
						margin: 18px auto;
						padding: 10px 20px;
						.font16;
					}

		}
		.video-preview__img-mob
		{
			display: block;
			width: 100%;
			a{
				img{
					display: block;
					width: 100%;
				}
			}
		}
}

.product-image-gallery.js-product-image-gallery.v-m-pros.new-product-image-gallery{
	opacity: 1;
}

.btn-blue-white{
	&:hover {
				color: #002F5F;
	}
	a {
		color: #fff;
		&:hover {
			color: #002F5F;
		}
	}
}

.banner__shop-now.banner__try-now{
	a{
		margin: unset;
		padding: 10px 20px;
		font-size: 16px;
	}
}

.select2-container--default .select2-selection--single{
	background-color:#fff;
	border:1px solid #aaa;
	border-radius:4px
}

.select2-container .select2-selection--single{
	box-sizing:border-box;
	cursor:pointer;
	display:block;
	height:28px;
	user-select:none;
	-webkit-user-select:none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
{
	color:#444;
	line-height:28px;
}

.select2-container .select2-selection--single .select2-selection__rendered{
	display:block;
	padding-left:8px;
	padding-right:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height:26px;
	position:absolute;
	top:1px;
	right:1px;
	width:20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color:#888 transparent transparent transparent;
	border-style:solid;
	border-width:5px 4px 0 4px;
	height:0;
	left:50%;
	margin-left:-4px;
	margin-top:-2px;
	position:absolute;
	top:50%;
	width:0;
}
.underline {
	text-decoration: underline;
}
.display-none{
	display: none;
}
input.quick-shop-name.shopping-list-name {
	color:inherit;
}
.new-shopping-list-detail {
	.product-list-page-title {
		span {
			font-size: inherit;
			text-transform: inherit;
			font-weight: inherit;
			font-family: inherit;
		}
	}
	.product-list-page-title {
		span.name-section-tiny-span {
			font-size: 14px;
			text-transform: initial;
			font-weight: 100;
			font-family: SourceSansPro;
			vertical-align: middle;
		}
	}
	span.list-product {
		float: right;
		position: relative;
		top: -55px;
	}
	@media (max-width: 768px) {
		span.list-product {
			float: left;
			top: -15px;
			margin-left: 0;
		}
		.product-list-page-title {
			span.shopping-list-name-display, input.shopping-list-name {
				display: block;
			}
		}
	}
}

.view-box {
	.cart-popup__item-detail {
		height: auto;
	}
	.cart-popup__item-info.amwahover {
		overflow-y: auto;
	}
	.cart-popup__item-link-content .btn {
		height: 48px !important;
	}
	.cart-popup__content {
		height: 458px;
	}
	.amway-theme .product-stock .red *{
		color: #EB174B;
	}
	.size-selector-container {
		.control-label {
			width: 77px;
			margin-right: 10px;
			word-wrap: break-word;
		}
		padding-top: 10px;
	}
	.qty-selector-container .control-label{
		width: 77px;
		margin-right: 10px;
		word-wrap: break-word;
	}
	.addtocart-component{
		margin-top: 0px;
	}
}

.cart-popup__content{
	max-height: 510px;
}


.searchEmptyPageMiddle-component .content .content{
    font-size: inherit;
    width: 100%;
    margin: 0;
    padding: 0;

}

div.page-shopping-list-details form#removeShoppingListForm {
    display: inline;
}

div.page-content-wrapper.page-productDetails div.product-page-tabs {
	margin-top: 30px;
}
div.page-content-wrapper.page-shopping-list-details div.shopping-list-add-to-cart-wrapper {
	padding-bottom: 10px;
}
div.content {
	display: inline;
}
.cart-popup__qty.no-right-border {
    border-right:none;
}

div.page-content-wrapper.page-shopping-lists div.create-list-button-wrapper{
    margin-top: 30px;
}
.searchEmptyPageMiddle-component div.content {
	display: block;
}
.login-form__password {
	width: 100%;
}
.size-selector-container {
	.control-label {
		width: 77px;
		margin-right: 10px;
		word-wrap: break-word;
	}
	padding-top: 10px;
}
.qty-selector-container {
	.control-label {
		width: 77px;
		margin-right: 10px;
		word-wrap: break-word;
	}
	padding-top: 10px;
}
.addtocart-component .row {
	padding-bottom: 20px;
}
.amway-suggest {
	font-size: 16px;
}
[type="checkbox"] {
		&:not(:checked) {
			left: -9999px;
			position: absolute;
			&+input + label {
				color: #55565a;
				cursor: pointer;
				font-size: 15px;
				font-weight: 100;
				padding-left: 1.95em;
				position: relative;
				text-align: left;
				&::before {
					background: #fff;
					border: 1px solid #dadada;
					content: "";
					height: 1.25em;
					left: 0;
					position: absolute;
					top: 0;
					width: 1.25em;
				}
				&::after {
					background: url("../images/checkbox_check.png") no-repeat scroll 0 0 / contain;
					content: "";
					font-size: 1.3em;
					height: 20px;
					left: 0;
					line-height: 0.8;
					position: absolute;
					top: 0;
					transition: all 0.2s ease 0s;
					width: 20px;
					opacity: 0;
					transform: scale(0);
				}
			}
		}
		&:checked {
			left: -9999px;
			position: absolute;
			&+input + label {
				color: #55565a;
				cursor: pointer;
				font-size: 15px;
				font-weight: 100;
				padding-left: 1.95em;
				position: relative;
				text-align: left;
				&::before {
					background: #fff none repeat scroll 0 0;
					border: 1px solid #dadada;
					content: "";
					height: 1.25em;
					left: 0;
					position: absolute;
					top: 0;
					width: 1.25em;
					background-color: #0075a4;
					border-color: #0075a4;
				}
				&::after {
					background: url("../images/checkbox_check.png") no-repeat scroll 0 0 / contain;
					content: "";
					font-size: 1.3em;
					height: 20px;
					left: 0;
					line-height: 0.8;
					position: absolute;
					top: 0;
					transition: all 0.2s ease 0s;
					width: 20px;
					opacity: 1;
					transform: scale(1);
				}
			}
		}
}

.ui-widget-content.ui-autocomplete {
    display: none !important;
}
.auto-suggestion-popover .suggested-words-wrapper {
    min-height: 55px;
}

.amway-theme .ditto-schedule-table-content .ditto-schedule-table thead .ditto-field-name {
  padding: 0 10px 0 30px;
  width: 65%;
}
.billing-shipping .billing-and-shipping-section .control {
  display: inline-block;
  width: 70%;
  height: 40px;
  font-size: 16px;
  outline: none;
  color: #002f5f;
  box-shadow: none;
}

#quickShopForm .auto-suggestion-popover {
    position: inherit;
}
.quick-links .quick-links-header a {
	.font16;
	color: @blue_1;
	font-family: @font_sans;
	line-height: 1.5em;
	font-weight: @weight100;
	text-transform: uppercase;
}

.quick-links ul li a {
	.font16;
	line-height: 2;
	color: @blue_1;
	font-weight: @weight100;
	cursor: pointer;
}
.quick-links-misc li:nth-child(2) img:first-child {
    width: 32px;
}
.quick-links-misc li:nth-child(2) a {
	display: inline-block;
	padding-right: 20px;
}

.plp-add-to-shopping-list-popup {
	top: 53px !important;
	left: 13px;
	width: 300px;
	border-top: solid 1px #dadada;
	margin: 35px 0 0;
	z-index: 8;
}
.plp-add-to-shopping-list-popup ul li {
	line-height: 50px;
	border-bottom: 1px solid #dadada;
	margin: 0 15px 0 20px;
}
.plp-add-to-shopping-list-popup ul li label {
	top: -8px;
}
.plp-add-to-shopping-list-popup ul li span {
	font-size: 16px;
}
.dropdown-menu-bottom {
	padding: 10px 0 10px 20px;
	border-top: 1px solid #dadada;
}
.dropdown-menu-bottom button {
	padding: 0 10px !important;
	margin-right: 5px !important;
}


  