*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.lastupdate

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!/bin
/bin/*
!/bin/custom
!/config
/config/solr
!/config/solr/embedded/conf/schema.xml
!.gitignore
*.class
*.iml
.idea
ruleset.xml
gensrc/
classes/
eclipsebin/
build.xml
*testclasses.xml
*webtestclasses.xml
generated-*-web-spring.xml
platformhome.properties
beans.xsd
extensioninfo.xsd
items.xsd
hmc.xsd
amwayapacstorefront/web/addonsrc
amwayapacstorefront/web/commonwebsrc
amwayapacstorefront/web/testclasses
amwayapacstorefront/web/webroot/_ui/addons
amwayapacstorefront/web/webroot/_ui/responsive
amwayapacstorefront/web/webroot/WEB-INF/messages/addons
amwayapacstorefront/web/webroot/WEB-INF/views/addons
amwayapacstorefront/web/webroot/WEB-INF/tags/addons
amwayapaccmssmartedit/node_modules/**
temp/
data/
/amwayapacstorefront/web/webroot/WEB-INF/tld
log/*
*.index
documents/
sampleconfigurations/
amwayapacstorefront/web/webroot/WEB-INF/_ui-src/addons/
**/jalo/**