*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.orig
*.ear
.gitignore.swp
.settings/*
.lastupdate


# IDEA Files
*.iml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#general files in all extensions
/*/.settings/*
/*/.classpath
/*/.project
/*/.idea
/*/extensioninfo.xsd
/*/build.xml
/*/gensrc
/*/classes
/*/eclipsebin
/*/addons/*
*-testclasses.xml
*-webtestclasses.xml
hmc.xsd
beans.xsd
items.xsd
rebel.xml
platformhome.properties
lynxstorefront/web/addonsrc/*
lynxstorefront/web/webroot/WEB-INF/tld/addons/*
lynxstorefront/web/addonsrc/*
lynxstorefront/web/webroot/_ui/addons/*
lynxstorefront/web/webroot/WEB-INF/messages/addons/*
lynxstorefront/web/webroot/WEB-INF/tags/addons/*
lynxstorefront/web/webroot/WEB-INF/views/addons/*
lynxstorefront/web/webroot/cmscockpit/*
lynxstorefront/web/webroot/cockpit/*
lynxstorefront/web/webroot/cscockpit/*
lynxstorefront/web/webroot/productcockpit/*

amwaycommercewebservices/web/addonsrc/*
amwaycommercewebservices/web/webroot/WEB-INF/tld/addons/*
amwaycommercewebservices/web/addonsrc/*
amwaycommercewebservices/web/webroot/_ui/addons/*
amwaycommercewebservices/web/webroot/WEB-INF/messages/addons/*
amwaycommercewebservices/web/webroot/WEB-INF/tags/addons/*
amwaycommercewebservices/web/webroot/WEB-INF/views/addons/*
amwaycommercewebservices/web/webroot/cmscockpit/*
amwaycommercewebservices/web/webroot/cockpit/*
amwaycommercewebservices/web/webroot/cscockpit/*
amwaycommercewebservices/web/webroot/productcockpit/*
amwaycommercewebservices/web/webroot/WEB-INF/cache/addons/*

amwaycontentsolrsearchaddon/web/webroot/cmscockpit/*
amwaycontentsolrsearchaddon/web/webroot/cockpit/*
amwaycontentsolrsearchaddon/web/webroot/productcockpit/*
amwaycontentsolrsearchaddon/web/webroot/cscockpit/*
amwaycontentsolrsearchaddon/web/addonsrc/*
amwaycontentsolrsearchaddon/web/webroot/_ui/addons/*
amwaycontentsolrsearchaddon/web/webroot/WEB-INF/messages/addons/*
amwaycontentsolrsearchaddon/web/webroot/WEB-INF/tags/addons/*
amwaycontentsolrsearchaddon/web/webroot/WEB-INF/views/addons/*
amwaycontentsolrsearchaddon/web/webroot/WEB-INF/views/addons/*
amwaycontentsolrsearchaddon/web/webroot/WEB-INF/tld/addons/*
amwaylos/web/webroot/cockpit/*
lynximswebservices/web/webroot/cockpit/*
lynxoms/web/webroot/cockpit/*
lynxstorepickupcockpit/web/webroot/cockpit/*
lynxstorepickupcockpit/web/webroot/cscockpit/*
oktasso/web/webroot/cockpit/*
oktasso/web/commonwebsrc/*
amwaycommercewebservices/web/webroot/cockpit/*
amwayfacades/web/webroot/cockpit/*
lynxcscockpit/web/webroot/cockpit/*
lynxcscockpit/web/webroot/cscockpit/*
lynxstorefront/web/commonwebsrc/*

lynxwarehousecockpit/web/webroot/cockpit/*
lynxwarehousecockpit/web/webroot/cscockpit/*

cis-services/*/target/*
cis-services/*/target/*
cis-services/amway-cis-api-avs/amway-cis-api-avs-service/target/classes/*
cis-services/amway-cis-api-avs/amway-cis-api-avs-service/target/classes/*
cis-services/amway-cis-api-avs/amway-cis-api-avs-service/target/test-classes/*
cis-services/amway-cis-api-avs/amway-cis-api-avs-test-configuration/target/classes/*

!lynxstorefront/web/webroot/WEB-INF/lib/*
!lynxstorefront/lib/*
!amwaycommercewebservices/web/webroot/WEB-INF/lib/*
!amwaycommercewebservices/lib/*
!amwaydms/lib/*
!amwaylos/lib/*

lynxvirtualstoreaddon/*
amwaycommercewebservices/resources/enunciate-1.29/*
*.iml
!lynximswebservices/lib/*

!advancedexport/lib/*

amwaycore/hmc/bin/amwaycorehmc.jar

!amwaysso/web/webroot/WEB-INF/lib/*
