*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.lastupdate

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!/bin
/bin/*
!/bin/custom
!/config
/config/solr
!/config/solr/embedded/conf/schema.xml
!.gitignore
*.class
*.iml
.idea
ruleset.xml
gensrc/
classes/
eclipsebin/
build.xml
*testclasses.xml
*webtestclasses.xml
generated-*-web-spring.xml
platformhome.properties
beans.xsd
extensioninfo.xsd
items.xsd
hmc.xsd
amwayapacauth/web/addonsrc
amwayapacauth/web/commonwebsrc
amwayapacauth/web/webroot/_ui/addons
amwayapacauth/web/webroot/_ui/responsive
amwayapacauth/web/webroot/WEB-INF/messages/addons
amwayapacauth/web/webroot/WEB-INF/views/addons
amwayapacauth/web/webroot/WEB-INF/tags/addons
amwayapacauth/web/webroot/WEB-INF/tld
amwayapacauth/web/webroot/WEB-INF/_ui-src/addons
amwayapacstorefront/web/addonsrc
amwayapacstorefront/web/commonwebsrc
amwayapacstorefront/web/webroot/_ui/addons
amwayapacstorefront/web/webroot/_ui/responsive
amwayapacstorefront/web/webroot/WEB-INF/messages/addons
amwayapacstorefront/web/webroot/WEB-INF/views/addons
amwayapacstorefront/web/webroot/WEB-INF/tags/addons
amwayapacstorefront/web/webroot/WEB-INF/tld
amwayapacstorefront/web/webroot/WEB-INF/_ui-src/addons
temp/
data/
log/*
*.index
documents/
sampleconfigurations/
**/jalo/**