/*angela add 0714 */
/*Search results_artistry _ Lynx Site.html*/
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .product__list--thumb img {
    height:240px;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .addtocart .add-to-ditto-container button .icon-R {
    position: absolute;
    top:7px;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .addtocart .add-to-shopping-list-container button span:nth-child(2){
    position: relative;
    top:-2px;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .addtocart .add-to-ditto-container button span{
    vertical-align: sub;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .product__list--price-panel .product-availability .text {
    position: relative;
    top: 2px;
}
#product-facet .accordion-custom .panel .panel-heading .panel-title div span.icon-minus {
    position: relative;
    top: -6px;
}
.pagination-bar .pagination-toolbar{
    padding-right:20px;
}
.col-xs-12.col-sm-6.col-md-6.pagination-wrapper.print-hide {
    padding-right: 0;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .addtocart .add-to-shopping-list-container button:hover {
    text-decoration: none!important;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list .product__list--item .list-item-wrapper .addtocart .add-to-shopping-list-container button {
    text-decoration: none!important;
}
/*Search_NoResults_ Lynx Site.html*/
.page-searchEmpty.pageType-ContentPage.template-pages-search-searchEmptyPage.pageLabel-searchEmpty.language-en .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
    padding: 20px 20px 0;
}
.searchEmptyPageMiddle-component .content{
    font-family: 'RobotoCondensed';
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1em;
}
.searchEmptyPageMiddle-component .content span {
    margin-bottom: 20px;
}

/*Search_results_content_artistry _ Lynx Site.html*/
#product-facet .accordion-custom .panel .panel-heading .panel-title div span.icon-minus:before {
    margin-right: 0px;
}

/*angela add 0718*/
#sortOptions1{
    display: inline-block;
    font-family: SourceSansPro;
    margin-left: 0.75em;
    font-size: 1em;
    height: auto;
    color: #002f5f;
    text-transform: none;
}
.breadcrumb-section ol.breadcrumb {
    background: none;
    margin-top: 15px;
}
@media (max-width: 667px){
    main {
        margin-top: 60px!important;
    }
}
.btn-primary {
    color: #ffffff;
    background-color: #002f5f!important;;
    border-color: #002f5f!important;
    padding: 10px 15px!important;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #274980!important;
    border-color: #274980!important;
}
.btn-primary[disabled] {
    background-color: #bbbbbb!important;
    border-color: #bbbbbb;
}
.btn {
    text-transform: uppercase;
    font-weight: 600!important;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.375;
    border-radius: 3px;
    border:none!important;
}
.breadcrumb-section ol.breadcrumb li a {
    font-family: Roboto, roboto;
    color: #337ab7!important;
}
.btn, .btn:active, .btn.active {
    box-shadow: none!important;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent!important;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none!important;
    outline-offset: -2px;
}
.content-search{
    display:none;
}
.btn-blue-white[disabled],product-list__item-link[disabled]{
    background-color: #bbbbbb;
    border-color: #bbbbbb;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-list__item-link-text {
    display: inline-block;
    float: left;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.product-list__item-link-ditto {
    width: 50%;
    display: inline-block;
    position: relative;
}
.product-list__item-link-ditto:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #e3e3e3;
    height: 80%;
}
.product-list__item-link-ditto.product-list__item-link-common[disabled]{
    color:#bbbbbb;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-list__item-link[disabled] .product-list__item-link-text.product-list__item-link-common{
    color:#bbbbbb;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-list__item-link-text:before ,.product-list__item-link-ditto:before{
    content: none!important;
}
.icon.icon-add-shoppinglist,.icon.icon-add-ditto{
    font-size: 1.25em;
    margin-right: 0.25em;
    vertical-align: text-bottom;
}
.product-list__filter{
    position: relative;
}
.product-list__filter-filter {
    top: 0;
    position: absolute;
    right: 0;
}
select.form-control{
    font-size: 16px!important;
    border-radius:0;
}
.product-collapse__content.panel-collapse.collapse.in{
    padding: 0 1.875em 1.875em 3.125em;
}
.js-add-list-shopping-button,.js-add-to-ditto-button{
    text-align: left;
    padding-left:0;
}
.js-add-list-shopping-button:hover,.js-add-to-ditto-button:hover{
    text-decoration: none!important;
    color: #337ab7;
}
.add-to-shopping-list-container.js-pdp-add-to-shoping-list-container,.js-pdp-add-to-ditto-container{
    padding-left:0;
}
.product-category__filter-select.form-control{
    text-transform:none;
}
@media (max-width: 768px){
    .product-description .col-sm-6 {
        width: 100%!important;
    }
    .product-description__form {
        text-align: center;
    }
    .product-category__filter-select.form-control{
        line-height:normal;
    }

    .bundle-collapse .product-collapse__content {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width:768px){
    .container .col-sm-3 ,.container .col-sm-9,.container .product-list.row .col-sm-4 ,.quick-links__misc.col-sm-4,#accordion.col-sm-8,.product-collapse__textarea.col-sm-8{
        width:100%;
    }
}
@media (min-width: 1400px){
    .container {
        width: 1400px!important;
    }
}
.product-description_group .product-description__label{
    width:auto;
}
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}
.main-container{
    max-width: 1400px;
}
#cboxTitle.cbox-title{
    background: #002f5f!important;
    padding:20px 0!important;
}
.search-list-page-right-result-list-slot .product__list--wrapper .product__list {
    margin-top: 0.5em;
}




